:root {
    font-family: Arial, Helvetica, sans-serif;
    --bg-primary-color: #003049;
    --bg-secondary-color: #fdf0d5;
    --bg-active-link-color: #0007;
    --bg-active-link-color-light: #0000003d;
    --bg-active-list-color: #fffa;
    --text-primary-color: #eee;
    --text-secondary-color: #222;
    --placeholder-color: #383838;
    --min-height-nav: 3.5em;
    --transition: .3s ease;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #777;
    min-height: 100vh;
    overflow: hidden;
}

li {
    display: flex;
    align-items: center;
    gap: .5em;
    list-style: none;
    padding: .6em 1em;
    border-radius: 1em;
    margin-bottom: .3em;
}

button {
    /* font-size: 1.2em; */
    background: none;
    cursor: pointer;
    border: none;
    padding: .2em .3em;
    border-radius: 1rem;
}

::placeholder {
    color: var(--placeholder-color);
    opacity: 1;
}

nav {
    position: fixed;
    width: 100vw;
    display: flex;
    min-height: var(--min-height-nav);
    align-items: center;
    justify-content: flex-start;
    background-color: var(--bg-primary-color);
    z-index: 10;
}

.btn__menu{
    color: var(--text-primary-color);
    font-size: 1.2em;
}

.btn__menu__container{
    border-radius: 10px;
    padding: .5em;
    margin: 0 .5em 0 1em;
    transition: var(--transition);
    cursor: pointer;
}

.btn__menu__container:hover{
    background-color: var(--bg-active-link-color-light);
}

.logo {
    color: var(--text-primary-color);
    padding: 0 .8em;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    margin: 0 1em;
    gap: .3em;
}

.nav-links li {
    align-items: center;
    padding: .5em 1em;
    color: var(--text-primary-color);
    cursor: pointer;
    transition: var(--transition);
}

.nav-links li:hover{
    background-color: var(--bg-active-link-color-light);
}

.nav-links a {
    text-decoration: none;
    color: var(--text-primary-color);
}

.nav-links li.active {
    font-weight: bolder;
    background-color: var(--bg-active-link-color);
    border-radius: 1em;
}

.wallpaper {
    min-width: 100vw;
    position: absolute;
    right: 0;
    pointer-events: none;
    z-index: -10;
}

.page {
    padding-top: var(--min-height-nav);
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.calendar {
    background-color: #fff;
    /* background-color: var(--bg-secondary-color); */
    /* padding-top: calc(var(--min-height-nav) + 1em);
    padding-left: 6em;
    padding-right: 6em; */
    display: flex;
}

#calendar {
    flex: auto;
    /* background-color: #fff; */
    margin: 1em 5em;
}

/* .fc .fc-toolbar.fc-header-toolbar {
    
    margin: 0;
    padding-bottom: 1.5em;
} */

.todo {
    display: flex;
    /* display: none; */

}

.lists-container {
    position: absolute;
    background-color: var(--bg-secondary-color);
    max-width: 25%;
    min-width: 14em;
    height: 100%;
    padding: 1em;
    overflow: auto;
    transition: var(--transition);
    z-index: 50;
}

.lists-container.active{
    transform: translate(-100%);
}

.list {
    cursor: pointer;
    font-weight: bold;
    word-break: break-all;
    word-wrap: break-word;
}

.list:hover,
.list.active {
    background-color: var(--bg-active-list-color);
}

.lists-header {
    padding: .5em 0;
    margin: .5em .5em;
    border-top: var(--text-secondary-color) solid .1em;
}

.list .list-name {
    flex: 1;
}

.options-btn {
    font-size: 1.2em;
}

.options-btn:hover {
    background-color: #0002;
}

.new-list-container {
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.new-list-input {
    background-color: #fff0;
    border: none;
    font-size: 1em;
    outline: none;
    /* padding: 0 .5em; */
    border-bottom: var(--placeholder-color) solid .1em;
    width: 85%;
}


.tasks-container {
    background-color: #fff2;
    width: 100%;
    margin-left: 14em;
    transition: var(--transition);
}

.tasks-container.active{
    margin: 0;
}

.tasks-container__center{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    overflow: auto;
    width: 90%;
    max-width: 1050px;
    height: 100vh;
    margin: 0 auto;
    transition: var(--transition);
}

.header {
    background-color: #fffc;
    width: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: .7em 1em;
    border-radius: 1em;
}

.header .toggle-and-title {
    display: flex;
    gap: .4em;
    align-items: center;
}

.header .toggle-lists {
    font-size: 1.3em;
    padding: auto;
    transform: rotate(180deg);
}

.header .list-title {
    /* padding-top: .08em; */
    word-wrap: break-word;
}

.header .new-task-btn {
    font-size: 1.2em;
    color: var(--text-primary-color);
    background-color: var(--bg-primary-color);
    padding: .3em .8em;
}

dialog {
    padding: 0;
    border: none;
    margin: 2em auto;
    width: 50%;
    position: fixed;
    border-radius: 1em;
}

.new-task-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1.5em 1.5em 1em 1.5em;
    overflow: hidden;
}

.new-task-form .inputs-container {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.new-task-form .input-title {
    margin-top: .5em;
}

.new-task-form input {
    font-size: 1em;
    width: 100%;
    padding: .5em;
    border: var(--placeholder-color) solid .2em;
    border-radius: 1em;
}

.new-task-form .btns-container {
    display: flex;
    justify-content: end;
    gap: .4em;
}

.new-task-form button {
    font-size: 1.2em;
    color: var(--text-primary-color);
    background-color: var(--bg-primary-color);
    padding: .3em .8em;
}

.task {
    position: relative;
    background-color: #fffa;
    gap: .8em;
    align-items: center;
}

.task input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    height: 1.5em;
    width: 1.5em;
    border: 0.15em solid var(--text-secondary-color);
    border-radius: .2em;
    display: grid;
    place-content: center;
}

.tasks input[type="checkbox"]::before {
    content: "";
    width: .9em;
    height: .9em;
    background-color: #00496f;
    display: none;
}

.tasks input[type="checkbox"]:checked:before {
    display: block;
}

.task .task-content {
    flex: auto;
}

.task .task-title {
    font-size: 1.2em;
    font-weight: bold;
}

.task .task-date-container {
    font-size: .8em;
    margin-top: .3em;
}