:root {
    font-family: Arial, Helvetica, sans-serif;
    --bg-primary-color: #003049;
    --bg-primary-color-dark: #001825;
    --bg-secondary-color: #fdf0d5;
    --bg-active-dark-color: #0000003d;
    --bg-active-darker-color: #0007;
    --bg-active-light-color: #fffb;
    --bg-active-lighter-color: #fff5;
    --bg-header-color: #fffc;
    --bg-task-color: #fffa;
    --bg-options-color: #fffe;
    --text-primary-color: #eee;
    --text-secondary-color: #222;
    --placeholder-color: #383838;
    --min-height-nav: 3.5em;
    --list-container-width: clamp(15em, 25vw, 20em);
    --transition: .3s ease;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #777;
    min-height: 100vh;
    overflow: hidden;
}

li {
    display: flex;
    align-items: center;
    gap: .5em;
    list-style: none;
    padding: .6em 1em;
    border-radius: 1em;
    margin-bottom: .3em;

}

button {
    background: none;
    cursor: pointer;
    border: none;
    padding: .2em .3em;
    border-radius: 1rem;
}

nav {
    position: fixed;
    width: 100vw;
    min-height: var(--min-height-nav);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-primary-color);
    z-index: 10;
}

dialog {
    padding: 0;
    border: none;
    margin: 2em auto;
    width: 50%;
    position: fixed;
    border-radius: 1em;
    transition: var(--transition);
}

button:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0 0);
}


.confirm-dialog {
    width: 30em;
}

::placeholder {
    color: var(--placeholder-color);
    opacity: 1;
}

.nav-logo-and-links-container {
    display: flex;
    align-items: center;
}

.btn__menu {
    font-size: 1.2em;
}

.btn__menu__container {
    color: var(--text-primary-color);
    border-radius: 10px;
    padding: .5em;
    margin: 0 .5em 0 1em;
    transition: var(--transition);
    cursor: pointer;
}

.btn__menu__container:hover {
    background-color: var(--bg-active-dark-color);
}

.logo {
    color: var(--text-primary-color);
    padding: 0 .8em;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    margin: 0 1em;
    gap: .3em;
}

.link {
    font-size: 1.1em;
    font-weight: bold;
    align-items: center;
    padding: .5rem 1rem;
    color: var(--text-primary-color);
    cursor: pointer;
    transition: var(--transition);
    margin-bottom: 0;
    border-radius: 1em;
}

.link i {
    font-size: 1.2em;
}

.help-link {
    font-size: 1em;
    margin: 0 1em;
}

.link:hover {
    background-color: var(--bg-active-dark-color);
}

.link.active {
    background-color: var(--bg-active-darker-color);
}

.wallpaper {
    min-width: 100vw;
    position: fixed;
    right: 0;
    pointer-events: none;
    z-index: -10;
}

.page {
    padding-top: var(--min-height-nav);
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.calendar {
    background-color: #fff;
    display: none;
}

#calendar {
    flex: auto;
    margin: 1em 12em;
}

.fc-toolbar-title {
    text-transform: capitalize;
}

.fc .fc-button-primary {
    background-color: var(--bg-primary-color);
}

/* .fc .fc-button-primary:hover {
    background-color: var(--bg-primary-color-dark);
} */

.todo {
    display: flex;
}

.lists-container {
    position: fixed;
    background-color: var(--bg-secondary-color);
    width: var(--list-container-width);
    min-width: 14em;
    height: calc(100vh - var(--min-height-nav));
    padding: 1em;
    overflow: auto;
    transition: var(--transition);
    z-index: 9;
}

.lists-container.active {
    transform: translate(-100%);
}

.list {
    cursor: pointer;
    font-weight: bold;
    word-wrap: break-word;
    margin: 0;
}

.list:hover {
    background-color: var(--bg-active-lighter-color);
}

.list.active {
    background-color: var(--bg-active-light-color);
}

.lists-header {
    padding-top: .5em;
    margin: .5em .5em;
    border-top: var(--text-secondary-color) solid .1em;
}

.list .list-name {
    flex: 1;
}

.blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    display: none;
    z-index: 11;
}

.blocker.active,
.lists-blocker.active {
    display: block;
}

.dropdown-container {
    position: relative;
}

.dropdown-btn {
    font-size: 1.2em;
}

/* .dropdown-btn:hover {
    background-color: #0002;
} */

.dropdown-menu {
    color: var(--text-secondary-color);
    background-color: var(--bg-options-color);
    position: absolute;
    right: -1em;
    border-radius: 1em;
    text-align: center;
    display: none;
    z-index: 20;
}

.dropdown-menu.down {
    top: 1.5em
}

.dropdown-menu.up {
    bottom: 1.6em;
}

.dropdown-menu.active {
    display: block;
}

.help-menu {
    right: .5em;
}

.dropdown-item:hover {
    background-color: #0002;
}

.dropdown-item:first-child:hover {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.dropdown-item:last-child:hover {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.dropdown-item {
    cursor: pointer;
    display: block;
    margin: 0;
    border-radius: 0;
    font-weight: bold;
}


.new-list-container {
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.new-list-input {
    background-color: #fff0;
    border: none;
    font-size: 1em;
    outline: none;
    border-bottom: var(--placeholder-color) solid .1em;
    width: 85%;
    padding: .4em;
    padding-bottom: 0.1em;
}

.new-list-input:focus {
    outline: auto;
}


.tasks-container {
    background-color: #fff2;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 4.5em;
    overflow: auto;

    width: 100%;
    margin-left: var(--list-container-width);
    transition: var(--transition);
}

.tasks-container.active {
    margin: 0;
    padding: 1em 10em;
}


.header {
    background-color: var(--bg-header-color);
    width: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: .7em 1em;
    border-radius: 1em;
}

.header .toggle-and-title {
    display: flex;
    gap: .4em;
    align-items: center;
}

.header .toggle-lists {
    font-size: 1.3em;
    padding: auto;
    transform: rotate(180deg);
}

.header .list-title {
    word-wrap: break-word;
}

.header .new-task-btn {
    font-size: 1.2em;
    color: var(--text-primary-color);
    background-color: var(--bg-primary-color);
    padding: .3em .8em;
}

.dialog-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1.5em 1.5em 1em 1.5em;
    overflow: hidden;
}

.dialog-form .form-title {
    font-weight: bold;
    text-align: center;
    font-size: 1.8em;
}

.main-text {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.sub-text {
    font-size: 1.1em;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.dialog-form .inputs-container {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.dialog-form .input-title {
    display: block;
    margin-top: .5em;
    font-weight: bold;
}

.dialog-form .input-title.first {
    margin-top: 0;
}

.dialog-form .input-field {
    font-size: 1rem;
    width: 100%;
    padding: .5em;
    border: var(--placeholder-color) solid .2em;
    border-radius: 1rem;
}

.dialog-form .btns-container {
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

.dialog-form button {
    font-size: 1.2em;
    /* color: var(--text-primary-color); */
    /* background-color: var(--bg-primary-color); */
    padding: .3em .8em;
}

/* .dialog-form button.outline {
    color: var(--text-secondary-color);
    background-color: #0000;
    border: var(--bg-primary-color) solid .2em;
} */

.task {
    position: relative;
    background-color: var(--bg-task-color);
    gap: .8em;
    align-items: center;
}

.task input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    height: 1.5em;
    width: 1.5em;
    border: 0.15em solid var(--text-secondary-color);
    border-radius: .2em;
    display: grid;
    place-content: center;
}

.tasks input[type="checkbox"]::before {
    content: "";
    width: .9em;
    height: .9em;
    background-color: #00496f;
    display: none;
}

.tasks input[type="checkbox"]:checked:before {
    display: block;
}

.task .task-content {
    flex: auto;
}

.task .task-title {
    font-size: 1.2em;
    font-weight: bold;
    word-wrap: break-word;
}

.task .task-details {
    font-size: .8em;
    margin-top: .3em;
    display: flex;
    gap: 1em;
}

.task.complete {
    color: #383838;
}

.task.complete .task-title {
    text-decoration: line-through;
}

.primary {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

.outline-primary {
    color: var(--text-secondary-color);
    background-color: #0000;
    border: var(--bg-primary-color) solid .2em;
}

button.outline-primary:hover {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

.danger {
    color: var(--text-primary-color);
    background-color: #aa001d;
}

.support-content {
    padding: 1.5em 1.5em 1em 1.5em;
}

.support-content * {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-bottom: .5em;
}

.support-content h3 {
    font-size: 1.5em;
}
.support-content li {
    padding: .3em 0;
}
.support-content button {
    margin: auto;
    margin-top: .5em;
    font-size: 1.3em;
    width: auto;
    padding: .3em .5em;
}

@media screen and (max-width: 1024px) {
    dialog {
        width: 60%;
    }

    #calendar {
        margin: 1em 8em;
    }
}

@media screen and (max-width: 768px) {
    .tasks-container {
        padding: 1em 2em;
    }

    .tasks-container.active {
        padding: 1em 5em;
    }

    dialog {
        width: 75%;
    }

    #calendar {
        margin: 1em 3em;
    }
}